# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Production build
dist/

# Local env files
.env
.env.local
.env.*.local

# Editor directories and files
.DS_Store
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
